.DS_Store
/node_modules/
/tmp/
/public/*
!/public/.htaccess
!/public/wp-content/
/public/wp-content/*
!/public/wp-content/themes/
/public/wp-content/themes/*
!/public/wp-content/themes/2023/
/public/wp-content/themes/2023/assets/css/
/public/wp-content/themes/2023/assets/js/
