/**
 * Button Mixins
 */

@use 'sass:math';
@use '../global/vars' as *;
@use '../functions/size';
@use '../mixins/hover';

/**
 * Hamburger Button
 */
@mixin hamburger(
  $container-width: 44px,
  $container-height: 44px,
  $width: 44px,
  $height: 24px,
  $padding: null,
  $bar-width: 2px,
  $bar-corner-radius: 0px,
  $bar-color: #000,
  $background: none
) {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: $container-width;
  height: $container-height;
  @if $padding == null {
    padding: (($container-height - $height) * .5) (($container-width - $width) * .5);
  }
  @else {
    padding: $padding;
  }
  background: $background;
  appearance: none;

  &-bar {
    display: block;
    width: $width;
    height: $bar-width;
    background: $bar-color;
    border-radius: $bar-corner-radius;
    transition: all .25s ease;

    &:nth-child(1) {
      @at-root .-drawer-shown & {
        @keyframes hamburger-bar-1-on {
          50% {
            transform: translateY(($height - $bar-width) * .5);
          }
          100% {
            transform: translateY(($height - $bar-width) * .5) rotate(-34deg);
          }
        }
        animation: hamburger-bar-1-on .8s ease forwards;
      }
      @at-root .-drawer-hidden & {
        @keyframes hamburger-bar-1-off {
          0% {
            transform: translateY(($height - $bar-width) * .5) rotate(-34deg);
          }
          50% {
            transform: translateY(($height - $bar-width) * .5);
          }
          100% {
            transform: none;
          }
        }
        animation: hamburger-bar-1-off .8s ease forwards;
      }
    }

    &:nth-child(2) {
      @at-root .-drawer-shown & {
        opacity: 0;
      }
    }

    &:nth-child(3) {
      @at-root .-drawer-shown & {
        @keyframes hamburger-bar-3-on {
          50% {
            transform: translateY(math.div($height - $bar-width, -2));
          }
          100% {
            transform: translateY(math.div($height - $bar-width, -2)) rotate(34deg);
          }
        }
        animation: hamburger-bar-3-on .8s ease forwards;
      }
      @at-root .-drawer-hidden & {
        @keyframes hamburger-bar-3-off {
          0% {
            transform: translateY(math.div($height - $bar-width, -2)) rotate(34deg);
          }
          50% {
            transform: translateY(math.div($height - $bar-width, -2));
          }
          100% {
            transform: none;
          }
        }
        animation: hamburger-bar-3-off .8s ease forwards;
      }
    }
  }
}

/**
 * More Button
 */
@mixin more(
  $bg-color: $green,
  $bg-hover: $blue,
  $text-color: #fff,
  $text-hover: #fff,
) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: $bg-color;
  @media #{media-query(sm)} {
    width: size.liquid(78);
    height: size.liquid(18);
    padding: 0 0 0 size.liquid(5);
    border-radius: size.liquid(9);
  }
  @media #{media-query(md)} {
    width: 156px;
    height: 36px;
    padding: 0 0 0 10px;
    border-radius: 18px;
    @include hover.circle-spread(
      $width: 156px,
      $height: 36px,
      $color: $bg-hover,
    )
  }
  @media #{media-query(lg)} {
    width: 156px;
    height: 36px;
    padding: 0 0 0 10px;
    border-radius: 18px;
    @include hover.circle-spread(
      $width: 156px,
      $height: 36px,
      $color: $bg-hover,
    )
  }

  span {
    font-family: $montserrat;
    font-weight: 600;
    color: $text-color;
    letter-spacing: .03em;
    @media #{media-query(sm)} {
      font-size: size.liquid(7);
    }
    @media #{media-query(md)} {
      font-size: 14px;
    }
    @media #{media-query(lg)} {
      font-size: 14px;
    }
  }

  svg {
    fill: $text-color;
    @media #{media-query(sm)} {
      width: size.liquid(14.5);
      height: size.liquid(3.5);
      margin: 0 0 0 size.liquid(3);
    }
    @media #{media-query(md)} {
      width: 29px;
      height: 7px;
      margin: 0 0 0 6px;
    }
    @media #{media-query(lg)} {
      width: 29px;
      height: 7px;
      margin: 0 0 0 6px;
    }
  }

  @media (hover: hover) {
    span,
    svg {
      transition: .25s;
    }
    &:hover span {
      color: $text-hover;
    }
    &:hover svg {
      fill: $text-hover;
      @media #{media-query(sm)} {
        transform: translateX(#{size.liquid(5)});
      }
      @media #{media-query(md)} {
        transform: translateX(10px);
      }
      @media #{media-query(lg)} {
        transform: translateX(10px);
      }
    }
  }
}
