/**
 * Error Page
 */

@use '../global/vars' as *;

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  @media #{media-query(sm)} {
  }
  @media #{media-query(md)} {
  }
  @media #{media-query(lg)} {
  }
}
