/**
 * News Archive
 */

@use '../global/vars' as *;
@use '../components/pageTitle';
@use '../components/breadcrumb';
@use '../components/newsList';
@use '../components/pager';
@use '../functions/size';
@use '../mixins/text';

/**
 * ----------------------------------------------------------------------------
 * Index
 * ----------------------------------------------------------------------------
 */
.index {
  width: 100%;
  background: #f7f7f7;
  @media #{media-query(sm)} {
    padding: 0 size.liquid(20);
  }
  @media #{media-query(md)} {
    padding: 0 calc(50% - 320px);
  }
  @media #{media-query(lg)} {
    padding: 0 calc(50% - 500px);
  }

  .newsList {
    width: 100%;
    background: #fff;
    @media #{media-query(sm)} {
      padding: size.liquid(10) size.liquid(10) size.liquid(16);
    }
    @media #{media-query(md)} {
      padding: 60px 80px 45px;
    }
    @media #{media-query(lg)} {
      padding: 90px 220px 75px;
    }

    &-i {
      @media #{media-query(sm)} {
        padding: size.liquid(20) 0;
      }
      @media #{media-query(md)} {
        padding: 22px 0;
      }
      @media #{media-query(lg)} {
        padding: 22px 0;
        &:first-child {
          padding-top: 22px;
          border-top: 1px solid #B3B3B3;
        }
        &:last-child {
          padding-bottom: 22px;
          border-bottom: 1px solid #B3B3B3;
        }
      }
    }
  }
}
