/**
 * Privacy Policy
 */

@use '../global/vars' as *;
@use '../global';
@use '../components/pageTitle';
@use '../components/breadcrumb';
@use '../functions/size';

/**
 * ----------------------------------------------------------------------------
 * Page Title
 * ----------------------------------------------------------------------------
 */
.pageTitle {
  &-main {
    &-ja {
      text-align: center;
      @media #{media-query(sm)} {
        font-size: size.liquid(17);
        line-height: size.liquid(21);
      }
      @media #{media-query(md)} {
        font-size: 27px;
        line-height: 38px;
      }
      @media #{media-query(lg)} {
        font-size: 36px;
        line-height: 50px;
      }
    }
  }
}

/**
 * ----------------------------------------------------------------------------
 * Privacy Policy
 * ----------------------------------------------------------------------------
 */
.pp {
  background: #F7F7F7;
  @media #{media-query(sm)} {
    padding: 0 size.liquid(20) size.liquid(50);
  }
  @media #{media-query(md)} {
    padding: 0 0 100px;
  }
  @media #{media-query(lg)} {
    padding: 0 0 150px;
  }

  &-inner {
    margin: 0 auto;
    background: #fff;
    @media #{media-query(sm)} {
      width: 100%;
      padding: 50px size.liquid(20) 70px;
    }
    @media #{media-query(md)} {
      width: 640px;
      padding: 70px 80px 100px;
    }
    @media #{media-query(lg)} {
      width: 1000px;
      padding: 85px 110px 170px;
    }
  }

  &-content {
    p {
      font-size: 13px;
      color: #707070;
      @media #{media-query(sm)} {
        line-height: 20px;
      }
      @media #{media-query(md)} {
        line-height: 24px;
      }
      @media #{media-query(lg)} {
        line-height: 25px;
      }

      & + p {
        @media #{media-query(sm)} {
          margin-top: 20px;
        }
        @media #{media-query(md)} {
          margin-top: 24px;
        }
        @media #{media-query(lg)} {
          margin-top: 25px;
        }
      }
    }
  }
}
