/**
 * Recruit
 */

@use '../global/vars' as *;
@use '../global';
@use '../components/pageTitle';
@use '../components/breadcrumb';
@use '../functions/size';

/**
 * ----------------------------------------------------------------------------
 * Requirement
 * ----------------------------------------------------------------------------
 */
.req {
  background: #F7F7F7;
  @media #{media-query(sm)} {
    padding: 0 size.liquid(20) size.liquid(50);
  }
  @media #{media-query(md)} {
    padding: 0 0 100px;
  }
  @media #{media-query(lg)} {
    padding: 0 0 150px;
  }

  &-inner {
    margin: 0 auto;
    background: #fff;
    @media #{media-query(sm)} {
      width: 100%;
    }
    @media #{media-query(md)} {
      width: 640px;
    }
    @media #{media-query(lg)} {
      width: 1000px;
      padding: 100px 110px 90px;
    }
  }

  &-title {
    font-weight: 700;
    color: #707070;
    text-align: center;
    @media #{media-query(sm)} {
    }
    @media #{media-query(md)} {
    }
    @media #{media-query(lg)} {
      font-size: 20px;
    }
  }
}
