/**
 * Main Variables
 */

@use '../footer/vars' as footer;

$min-height: (
  sm: calc(100vh - #{footer.height(sm)}),
  md: calc(100vh - #{footer.height(md)}),
  lg: calc(100vh - #{footer.height(lg)}),
);
@function min-height($media) {
  @return map-get($min-height, $media);
}
