/**
 * Global Base
 */

@use 'vars' as *;
@use '../mixins/text';

/**
 * ----------------------------------------------------------------------------
 * Base Font
 * ----------------------------------------------------------------------------
 */
body {
  font-family: $sans;
  font-size: $size;
  color: $black;
}

/**
 * ----------------------------------------------------------------------------
 * Anchor Text
 * ----------------------------------------------------------------------------
 */
a {
  @include text.anchor($color: $black);
  text-decoration: none;
  @media #{media-query(lg)} {
    &[href^="tel:"] {
      pointer-events: none;
      cursor: default;
    }
  }
}
