/**
 * Global Main
 */

@use 'vars' as *;

.main {
  width: 100%;
  @media #{media-query(sm)} {
    min-height: $main-min-height-sm;
    padding: $header-height-sm 0 0;
  }
  @media #{media-query(md)} {
    min-height: $main-min-height-md;
    padding: $header-height-md 0 0;
  }
  @media #{media-query(lg)} {
    min-height: $main-min-height-lg;
    padding: $header-height-lg 0 0;
  }
}
